<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Custom --> 
    <link rel="stylesheet" href="css/style.css" type="text/css">


  </head>
  <body>
    
    <div class="">
      <h1 class="col-lg-offset-2"><%= screen_name %> 's twitter followers</h1>
    </div>
    
    <% _.each(follower_data || {}, function(follower, index) { %>
      <a href="<%= follower_profile_url[index] %>" target="_blank">
        <img src="<%= follower %>">
      </a>
      
    <% }) %>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
  </body>
</html>